h1 {
font-size:14px;
}

#bg-image {                                                                                       
    position: fixed;                                                                              
    width: 100%;                                                                                  
    height: 100%;                                                                                 
}                                                                                                 

#bg-image img {                                                                                   
    position: static;                                                                           
    top: 0;                                                                                       
    left: 0;                                                                                      
    right: 0;                                                                                     
    bottom: 0;                                                                                    
    margin: auto;                                                                                 
    min-width: 50%;                                                                               
    min-height: 50%;                                                                              
}

.github {
  position:absolute;
  left:390px;
  top:310px
}

.instagram {
  position:absolute;
  left:538px;
  top:150px
}

.twitter {
  position:absolute;
  left:104px;
  top:252px;
}

.access {
  position:absolute;
  left:478px;
  top:522px;
} 

.email {
  position:absolute;
  left:866px;
  top:310px;
} 
