h1 {
font-size:14px;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  clear:both;
  overflow: hidden;
}

#bg-image.sliding {
  -webkit-animation-name: sliderdude;
  -moz-animation-name: sliderdude;
  -o-animation-name: sliderdude;
  animation-name: sliderdude;

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

   -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes sliderdude {

 from {
    margin-top:-1003px;
  }

  to {
    margin-top: 0px;
  }

}
@keyframes sliderdude {

 from {
    margin-top:-1003px;
  }

  to {
    margin-top: 0px;
  }
}

#bg-image {
  background: url('../img/skifree.png') repeat;
  min-width: 200%;
  min-height: 200%;
  position:absolute;
  margin-top: -1003px;
}

.github {
  position:absolute;
  left:390px;
  top:310px
}

.instagram {
  position:absolute;
  left:538px;
  top:150px
}

.twitter {
  position:absolute;
  left:104px;
  top:252px;
}

.access {
  position:absolute;
  left:478px;
  top:522px;
}

.email {
  position:absolute;
  left:866px;
  top:310px;
}
